* {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}
#app {
	margin-top: 20px; margin-bottom: 20px;
}
.container {
	width: 1000px;
	min-height: 255px;
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5f5f5;
    border: 2px solid #dad8d8;
}
.navbar {
	width: 970px;
	height: 60px;
	padding: 20px 0 20px 0;
	display: flex;
	flex-flow: row;
	justify-content: left;
	cursor: pointer;
}
.active {
	border-bottom: solid;
}
.nav-item {
	width: auto;
    padding: 5px;
    margin: 0 10px 0 10px;
}
h1 {
	text-align: center;
}
.table {
	width: 900px;
	min-height: 400px;
    padding: 20px 0 20px 0;
    display: none;
}
.table table {
	text-align: center;
    margin: auto;
    background-color: #eaebec;
    color: #666;
    border: #ccc 1px solid;
}
.table table th {
	padding: 15px 35px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
}
.table table td {
	padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: #fafafa;
}
.container .card-product {
	position: relative;
	width: 300px;
    text-align: center;
    margin: 20px 10px;
    background-color: #ffffff;
    border: 1px solid #dad8d8;
    cursor: pointer;
	z-index: 0;
}
.container .card-product:hover {
	opacity: 0.5;
}
.container .card-product:hover .choose-product { 
	display: block;
}
.card-product .card-head img {
	background-repeat: no-repeat;
	background-size: contain;
}
.card-product .card-body {
	text-align: left;
	padding: 10px;
}
.card-product .card-body p {
	margin: 10px 0 10px 0;
    font-size: 20px;
}
.card-product .choose-product {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 100px;
	z-index: 1;
    display: none;
}
