* {
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
}
.container {
	width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}
.container .card-product {
	width: 300px;
    text-align: center;
    margin: 20px 10px;
}